# Giao diện & Dữ liệu
streamlit
vnstock
pandas
numpy
plotly
beautifulsoup4
lxml
requests
ipython

# Trí tuệ nhân tạo & Máy học
scikit-learn
tensorflow
ta

# Toán học nâng cao
scipy
statsmodels
prophet